.taskbar{
    border-style: solid;
    display: flex;
    background-color: #A02B93;
    flex-wrap: wrap;
    align-items:center;
    justify-content: flex-end;
    height: 80px;
}
.taskbar > div, .taskbar #signup{
    color: black;
    padding: 20px;
    font-size: 16px;
    border: solid;
    margin-right: 10px;
}
.taskbar a {
    margin-right: auto;
    padding: 0px;
    gap: 10px;
}
.dropdown{
    display: flex;
    align-items: center;
    border: solid;
    padding: 10px;
    margin: 10px;

}
.main-text{
    background-color: #3a3a3a;
    width: 60%;
    color: white;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

body{
    background-image: url("backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
