.taskbar{ /*styling for taskbar*/
    border-style: solid;
    display: flex;
    background-color: #a02b93;
    align-items:center; /*aligns items center vertically*/
    justify-content: flex-end; /*puts all buttons to the right*/
    height: 80px;
    position: fixed;/*makes the taskbar stay at the top of screen*/
    top: 0;
    width: 100%;
} 
.taskbar > div, .taskbar .signup{ /*styles things within the taskbar excluding logo*/
    color: black;
    padding: 10px;
    font-size: 16px;
    border: solid;
    margin-right: 10px;
}
.taskbar a { /*pushes logo to the left*/
    margin-right: auto;

}
#Logoimg{
    height: 80px;
}

.dropdown{ 
    display: flex;
    align-items: center; /*aligns it center vertically*/
    border: solid;
    padding: 10px;
    margin: 10px;
}
.main-text{
    background-color: #3a3a3a;
    width: 60%; /* sets the container to take 60% of the width*/
    text-align: center;
    margin: 0 auto;
    margin-top: 20px; /*adds abit mor space on top so it looks less cramp*/
    padding: 10px;
    border: solid black;
    color: white; 
    min-height: 350px; /*makes sure the box covers any image which might be put in it*/
    min-width: 500px;
    padding-top: 80px;
}

body{ /*sets background image to fill screen */
    background-image: url("backgroundimage.jpg");
    background-repeat: no-repeat; /*stops it tiling the image*/
    background-size: cover;
}

#articleholder{
    columns: 2; /*splits the articles into having two columns*/
    background-color: #2a2a2a;
    color: white;
    padding-top: 80px;
}

.blogimages{
    width: 100%; /*makes image fill container width wise*/
}
.blogimagesdisplay{
    width: 27%; /*sets the container to have 27% width*/
}
.col-md-6{
    margin-top: 20px;
    padding-top: 20px;
    border: solid;
    width: 90%; /*leaves a gap either side*/
}

.usernamepasswordlabel{
    color: white;
    margin-right: 20px;
    margin: 10px;

}
.labelholder{
    border: solid black;
    margin: 20px;
    display: inline-block;
}

.blog-text{
    background-color: #3a3a3a;
    width: 60%; 
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    border: solid black;
    margin: 10px;
    color: white;
    min-height: 350px; /*ensures the image is smaller than the containers*/
    min-width: 540px;
}

.rounded{
    margin-right: 10px; /*adds small gap to the right*/
}

h4{
    text-decoration: underline;  /* the a h4 and h4 need to stay seperate bc the colour doesn't work for the links if its not like this*/
}

a h4{
    color: white;
}
#previewimagecontainer{ /*sets width to be bigger than the images*/
    width: 400px;
}

#AI1{
    padding-top: 80px;/*insures taskbar doesn't cover start of blog*/
}
#previewdisplay{
    padding-top: 10px !important;
}
